<div class="container">
  <h2 align="center">Forgot Password</h2>
  <%= form_tag password_reset_submit_users_path do %>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <%= text_field_tag :email, nil,:class=>"form-control"%>
    </div>
     <%= submit_tag "Submit",:class=>"btn btn-default"%>  
  <% end %>
</div>

